@model IEnumerable<WebBuilding_50080.Models.Product>
@{
    ViewData["Title"] = "Menu";
}

<h2>Menu Page</h2>


<div class="container">
    <div class="row justify-content-center">
        @foreach (var product in Model)
        {
            <div class="col-3 m-1">
                <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">
                        Description: @product.Description
                    </p>
                    <p class="card-text">Cost: @product.Price</p>
                    <img src="@product.Image" class="card-img-top" style="max-height: 200px; width:200px;" alt="Item Name">
                    <p>
                        <a asp-controller="Payment" asp-action="Index" asp-route-name="@product.Name" asp-route-price="@product.Price" class="btn btn-primary">Buy</a>
                    </p>
                </div>
            </div>
        </div>
        }
    </div>
</div>
