@model WebBuilding_50080.Models.ProductsViewModel

@{
    ViewData["Title"] = "Menu";
}

<h2>Menu Page</h2>


<div class="container">
    <div class="row justify-content-center">
        @foreach (var product in Model.Products)
        {
            <div class="col-3 m-1">
                <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">
                        Description: @product.Description
                    </p>
                    <p class="card-text">Cost: @product.Price</p>
                    <img src="@product.Image" class="card-img-top" style="max-height: 200px; width:200px;" alt="Item Name">
                    <p>
                        <a asp-controller="Payment" asp-action="Index" class="btn btn-primary">Buy</a>

                            <button class="btn btn-success"
                                    onclick="window.location.href='@Url.Action("Index", "Cart", new { productName = @product.Name, productPrice = @product.Price, currentCart = ViewBag.UpdatedCart ?? string.Empty })'">
                                Add to Cart
                            </button>

                        </p>
                </div>
            </div>
        </div>
        }
    </div>
</div>
