@using WebMatrix.Data
@using System.Data.SqlClient;



@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center">
    <h1 class="display-4">Welcome to UTR</h1>

    <p><a href="@Url.Action("Index", "Menu")">Menu</a></p>
    <p><a href="@Url.Action("Index", "PetrolStations")">Petrol Stations</a></p>
    <p><a href="@Url.Action("Index", "Payment",new {ViewBag.isLoggedIn})">Payment</a></p>
    <p><a href="@Url.Action("UpdateFuelPrice", "PetrolStations", new {ViewBag.isLoggedIn})">Update Fuel Price</a></p>
    <p><a href="@Url.Action("Index", "Login", new {ViewBag.loginStatus})">Login</a></p>
</div>
<p>@ViewBag.loginStatus</p>
@if (ViewBag.loginStatus == 1)
{
    <p>YOU ARE CUSTOMER</p>
} 
else if (ViewBag.loginStatus == 2)
{
    <p>YOU ARE MANAGER</p>
}


