@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to UTR</h1>

    <p><a href="@Url.Action("Index", "Menu")">Menu</a></p>
    <p><a href="@Url.Action("Index", "PetrolStations")">Petrol Stations</a></p>
    <p><a href="@Url.Action("Index", "Payment")">Payment</a></p>
    <p><a href="@Url.Action("UpdateFuelPrice", "PetrolStations")">Update Fuel Price</a></p>
    <p><a href="@Url.Action("GPS", "PetrolStations")">Find Outlets</a></p>

</div>
